---
layout: base.njk
bodyClass: essay-page
activeSection: writing
---

<article class="article-page">

  <header class="article-header">
    {% if date %}
      <div class="article-meta">{{ date | readableDate }}</div>
    {% endif %}

    <h1>{{ title }}</h1>
  </header>

  

  <section class="article-body">
    {{ content | safe }}
  </section>

</article>
